<%= form_with(model: phrase, local: true) do |form| %>
  <% if phrase.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <strong>
        <%= pluralize(phrase.errors.count, "error") %>
        prohibited this phrase from being saved:
      </strong>

      <ul>
      <% phrase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_area :content, rows: 5, class: 'form-control' %>
  </div>

  <div class="form-group text-right">
    <%= link_to "New #{Phrase.model_name.human}", new_phrase_path, class: 'btn btn-light' %>
    <%= form.submit class: 'btn btn-primary', data: { disable_with: 'Submitting...' } %>
  </div>
<% end %>
