<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Phrases</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Content</th>
        <th>Hashid</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @phrases.each do |phrase| %>
        <tr>
          <td><%= phrase.content %></td>
          <td><%= phrase.hashid %></td>
          <td><%= link_to 'Show', phrase %></td>
          <td><%= link_to 'Edit', edit_phrase_path(phrase) %></td>
          <td><%= link_to 'Destroy', phrase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Phrase', new_phrase_path, class: 'btn btn-primary' %>
</div>