<%= form_with(model: saying) do |form| %>
  <% if saying.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <strong>
        <%= pluralize(saying.errors.count, "error") %>
        prohibited this saying from being saved:
      </strong>

      <ul>
      <% saying.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%=
      form.text_area :content,
      rows: 5,
      maxlength: Saying::MAX_LENGTH,
      placeholder: 'Say something',
      class: 'form-control'
    %>
  </div>

  <div class="form-group">
    <%= form.select :theme, theme_options, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.select :font, {}, {}, { class: 'form-control' } do %>
      <% font_options.each do |font_name| %>
        <%= "<option value='#{font_name}'\
          style='font-family:#{font_name};'\
          #{'selected' if font_name == form.object.font}
          >#{font_name}</option>".html_safe %>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%=
      form.text_area :css,
      rows: 10,
      placeholder: 'Custom CSS',
      class: 'form-control'
    %>
  </div>


  <div class="form-group text-right">
    <%= link_to t('clear'), new_saying_path, class: 'btn btn-light' %>
    <%= form.submit t('say_it'), class: 'btn btn-primary', data: { disable_with: 'Submitting...' } %>
  </div>
<% end %>
