<div id="saying-show">
  <div id="content">
    <span><%= @saying.content %></span>
  </div>
  
  <div class="buttons">
    <%= link_to new_saying_path, id: 'newBtn', class: 'btn' do %>
      <i class="material-icons">add</i>
    <% end %>
    <% if @saying.editable? %>
      <%= link_to edit_saying_path(@saying), id: 'editbtn', class: 'btn' do %>
        <i class="material-icons">mode_edit</i>
      <% end %>
    <% end %>
  </div>
</div>

<style>
  #saying-show #content {
    font-family: '<%= @saying.font %>';
  }
  <%= t("themes.#{@saying.theme}") %>
  <%= @saying.css %>
</style>
